@import url("../../src/App.css");

#general-container{
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    align-content: flex-end;
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    padding-bottom: 12em;
}

.bioContainer {
    display: flex; 
    flex-flow: column wrap;
    align-content: flex-start;
    margin-top: 8vh; 
    height: 18vh;
    width: 50%;
}
  
.bioContainer img {
    width: 18vh;
    height: 18vh;
    margin-right: 3vw;
}

.bioContainer h2{
    font-size: 2em;
    font-weight: 700;
}

.bioContainer h3{
    font-size: 1.4em;
}
  
.bioContainer a {
    font-size: 1em;
}

@media screen and (max-width: 1280px) {
    .bioContainer{
        width: 100%;
    }
}