@import url("../../src/App.css");


.generalContainer {
    width: 100%; 
    padding: 0; 
    padding-bottom: 7em;
    margin: 0;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(246, 246, 246) 2%, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 98%, rgb(242, 242, 242) 100%);
  }  

  #classification-container {
    z-index: 1;
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
    padding: 1.5rem 0 2rem  0;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 5vw;
    background: white;

  }

  #classification-container-h1{
    color: var(--negro-uno);
    align-self: flex-start;
    text-align: left;
    font-family: "Sofia sans condensed";
    font-size: 7vw;
    width: auto;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 0;
    line-height: 1;
  }

  #classification-container-after {
    height: 0.3em;
    width: 60%;
    border-bottom: 5pt dotted rgb(205, 205, 205);
    margin: 0 auto;
  }

 .selector-header{
    color: #111111;
    font-size: 1.7em;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }
  
  #classification-container>ul {
    list-style: none;
  }
  
  #classification-container>ul>li {color: #898989;}
  #classification-container>ul>li:link {}
  #classification-container>ul>li:visited {}
  #classification-container>ul>li:hover {color: #464646;}
  #classification-container>ul>li:active {color: black; font-weight: 500;}

  .activeType {
    font-weight: 600;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 1080px) {
    #classification-container-h1{
      font-size: 13vw;
    }
  }
  
  @media screen and (max-width: 800px) {
    #classification-container {
      position: initial;
      top: initial;
      flex-wrap: wrap;
      height: fit-content;
      column-gap: 0.1vw;
      justify-content: space-evenly;
      align-content: stretch;
      padding: 0;
    }

    #classification-container-h1{
      width: 100%;
      font-size: 18vw;
      text-align: center;
      padding-bottom: 3vh;
    }

    .selector-cat{
      width: 47%;
    }

    .selector-header{
      font-size: 6vw;
      margin-bottom: 0.5rem;
    }
    .selector-header ~ li{
      font-size: 5vw;
      line-height: 1.5;
    }
  }
  
  /* Elements of the Movielist (MovieCards) */
  
  .moviesListContainer{
    width: 85%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    background: transparent;
  }

  .categoryContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
 
  .categoryHeader{
    width: 100%;
    font-family: "Sofia sans", sans-serif;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2.3em;

    color: #595959;
    margin: 2rem 0;
    margin-top: 4rem;
  }
  
  .moviePosterImg {
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .movieCard {
    font-family: "Sofia Sans Condensed", sans-serif;
    position: relative;
    box-sizing: border-box;
    width: calc(92.8vw / 6.07);
    border-radius: 5px;
    height: 40vh;
    margin: .6vw;
    overflow: hidden;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .movieCard * {
    transition: 0.3s ease all;
  }
  
  .movieCard:hover .info-container {
    opacity: 1;
    transition: .3s ease;
    cursor: pointer;
  }

  
  .info-container {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.905);
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .noPoster{
    background-color: rgba(255, 255, 255, 0.905);
  }

  .noPoster:hover{
    background-color: rgba(0, 0, 0, 0.905);
    color: white;
  }

  .noPoster:hover h1{
    color: #e6e6e6;
  }

  .opacity0 {opacity: 0;}

  .info-container * {
    text-align: center;
    text-align-last: center;
  }
  
  .info-container>h1{ 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.8em; 
    color: #e6e6e6;
    margin: .6rem;
    line-height: 1.1;
    margin-bottom: .3rem;
  }
  
  .info-container>h2{   
    font-size: 1.2em;
    font-weight: 500;
    color: #676767;
    margin: 0 1vh;
    font-family: Helvetica, Arial, sans-serif;
  }

  .noPoster>h1{
    color: #343434;
  }
  
  .info-container>p{
    font-size: 1.1em;
    color: #000000;
    margin: 0 1vh;
  }
  
  @media screen and (max-width: 1500px) {
    .moviesListContainer{
      width: 100%;
    }
    .movieCard {
      width: calc(94vw / 5.08);
    }
  }
  
  @media screen and (max-width: 1080px) {
    .movieCard {
      width: calc(96.4vw / 4.18);
      height: 33vh;
    }
  }
  
  @media screen and (max-width: 800px) {
    .info-container>h1{
      font-size: 2.1em;
    }
    .info-container>h2{ 
      font-size: 1em;
    }

    .movieCard {
      width: calc(97.6vw / 2.08);
      height: 37vh;
    }
  }

  @media screen and (max-width: 600px) {
    .movieCard {
      height: 30vh;
    }
  }
  
  
  /* Elements of the MovieDetailsBigCard */
  
  #overlay {
    z-index: 1;
    position: fixed;
    display: none;
    width: 100%; height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.677);
    cursor: pointer;
  }

  #cardContainer { /* Flipper for the MDBC and the TrailerCard */
    position: relative;
    width: inherit;
    height: inherit;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
  }

  #movieDetailsBigCard { /* Front card */
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 2vw; /* Espacio entre elementos */
    top: 13%;
    bottom: 13%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    width: 80%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(22,22,22,1) 15%, rgba(0,0,0,1) 33%, rgba(0,0,0,1) 100%);
    cursor: default;
    backface-visibility: hidden;
    transform: rotateY(0deg);
  }
  
  #backCard-trailer { /* Back card */
    position: relative;
    top: 13%;
    bottom: 13%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 86%;
    height: auto;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  #posterContainer {
    height: 100%;
    width: fit-content;
  }
  
  #movieDetailsBigPoster {
    width: 100%;
    max-width: 400px;
    height: fit-content;
  }

  #trailerButton {
    position: absolute;
    right: 2em;
    bottom: 2em;
    font-size: 2vh;
    font-weight: 600;
    padding: 0 1.2vh;
    height: 3em;
    background: rgb(94, 104, 123);
    color: white;
    opacity: 70%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  #trailerButton:hover{
    color: black;
    opacity: 100%;
    transition: .3s ease;
  }

  #returnButton{
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 2vh;
    font-weight: 600;
    padding: 0 1.2vh;
    height: 2.2em;
    background: rgb(94, 104, 123);
    color: white;
    opacity: 55%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }

  #returnButton:hover{
    color: black;
    opacity: 100%;
    transition: .3s ease;
  }

  #closeButtonFront{
    color: white;
    background-color: #46464600;
    position: absolute;
    top: .3em;
    right: .3em;
    font-size: 7vh;
    font-weight: 500;
    width: 7vh;
    height: 7vh;
    border: none;
    transform: translateY(-5px) ;
    cursor: pointer;
    text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.735);
  }

  #closeButtonFront:hover{
    color: rgb(183, 183, 183);
    transition: .3s ease;
  }

  #closeButtonBack{
    color: white;
    background-color: #46464600;
    position: absolute;

    top: .3em;
    right: .3em;

    font-size: 7vh;
    font-weight: 500;

    width: 7vh;
    height: 7vh;
    border: none;
    transform: translateY(-5px) ;
    cursor: pointer;
    text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.735);
  }

  #closeButtonBack:hover{
    color: rgb(183, 183, 183);
    transition: .3s ease;
  }
  
  #bigCardInfo {
    color: white;
    line-height: 1.2;
    text-align: left;
    font-family: "Sofia Sans Condensed", sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: normal;
    width: auto;
    max-height: 100%;
    max-width: 60%;
    overflow-y: auto;
  }

  #mainHeader {
    font-family: "Sofia sans";
    font-weight: 1000;
    margin-top: 3vh;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    line-height: 1;
    font-size: 3.2vw;
  }

  /* Horizonal rule */
  #hr-title{
    background: linear-gradient(90deg, #ffffff, #303030);
    height: 0.3rem;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
  }

  #etatDuFilm {
    font-size: 1.32em;
    margin-top: 0;
    padding: 0;
  }
  
  #BCI-group-1 p{
    color: rgb(215, 215, 215);
    font-size: 1.32em;
    font-family: "Sofia sans condensed";
  }
  
  #bigCardInfo p>b, h3>b { /* Cambio de color en títulos de categoría*/
    color: #898989;
  }
  
  #BCI-group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0.4rem;
    margin-bottom: 1.3rem;
    gap: 1rem;
  }

  #BCI-group-2 {
    font-size: 1.05em;
    line-height: 1.1;
    margin-bottom: 1.2rem;
  }

  #BCI-group-2 h3{
    font-weight: 400;
  }
  
  @media screen and (max-width: 1500px) {
    
    #movieDetailsBigCard {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      gap: 3vw;
    }
    #backCard-trailer{
      width: 100%;
    }
    #bigCardInfo {
      max-width: 62%;
    }
    #movieDetailsBigPoster{
      margin-top: 3vh;
      display: block;
      float: left;
      width: 30%;
      height: fit-content;
      min-width: none;
    }
  }

  @media screen and (max-width: 1080px) {
    #mainHeader {
      font-size: 5vw;
    }
    #etatDuFilm {
      font-size: 1.25em;
    }
    #BCI-group-1 p{
      font-size: 1.25em;
    }
  }
  
  @media screen and (max-width: 768px) {
    #movieDetailsBigCard {
      flex-flow: column nowrap;
      top: 0;
      bottom: 0;
      width: 100%;
      overflow-y: scroll;
      gap: initial;
    }
    #backCard-trailer{
      top: initial;
      bottom: initial;
      height: 100%
    }
    #movieDetailsBigPoster{
      margin-top: 0;
      width: 100%;
      max-width: 85%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3vh;
      height: auto;
    }
    #trailerButton {
      position: relative; 
      right: initial;
      bottom: initial;
      width: 85%;
      height: 10em;
      margin: 0 auto;
      margin-top: 1.2rem;
    }

    #bigCardInfo {
      max-width: 92%;
      margin-left: auto;
      margin-right: auto;
      overflow-y: visible;
      padding-bottom: 3em;
    }
  }

  .toggle-button{
    width: fit-content;
    margin-top: 0.5rem;
    font-size: 1.1em;
    display: block;
    color: #586687;
    cursor: pointer;
  }

  .toggle-button:hover{color: #aec7ff;}

  .toggle-arrow{
    display: inline-flex;
    margin-left: 0;
    margin-right: 0.2em;
    font-size: 1em;
    font-weight: 800;
    transform: rotate(90deg);
  }

  .rotated-arrow{       
    transform: rotate(180deg);
    margin-bottom: 0.3rem;
  }

  .content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
    margin-bottom: 0.3rem;
  }

  .synopse{
    margin-top: 1em;
    max-height: initial;
    overflow: initial;
    transition: initial;
  }

  .content, .content p, content h3{
    font-family: "Sofia sans", Arial, sans-serif;
    font-size: 1.05em;
    line-height: 1.15;
  }

  .toggled-content{
    max-height: 500px;
  }

  #vidIframe {
    border: 0;
  }
  
  @media screen and (max-width: 1500px) {
  }
  
  @media screen and (max-width: 1080px) {
  }
  
  @media screen and (max-width: 768px) {
    #closeButtonFront{
      width: 98%;
      position: sticky;
      text-align: right;
    }
  }