@import url("../../src/App.css");

.decorative-bars {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
    gap: 1%;
  }

  .decorative-bars-justify-right{
    justify-content: end;
  }
  
  .decorative-bar-left,
  .decorative-bar-right {
    height: 50px;
    width: 50px;
    background-color: var(--gris-menosUno);
    border-radius: 5px;
    margin-right: 1em;
  }
  
  .decoratedHeader {
    text-transform: uppercase;
    font-size: 80pt;
    font-weight: 800;
    text-align: left;

    border-left: 120px dotted var(--negro-uno);
    padding-left: 2rem;

    padding-bottom: 0;
    margin-bottom: 0.3em;
  }

  .alignRight{text-align: right;}

  @media screen and (max-width: 1080px) {

  }

  @media screen and (max-width: 800px) {
    .decoratedHeader {
      font-size: 42pt;
      border-left: 57px dotted var(--negro-uno);
      padding-left: 1rem;
    }
  }