@import "../App.css";
@import "SocialMediaIcons.css";

#nvbar-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 4.5em;
    height: fit-content;
    background-color: white;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.064);
    margin-bottom: 1.5rem;
}

#logo-cont{
    width: 100%;
    text-align: center;
}

#logo-img{
    height: 4vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}

#logo-down-bar{
    width: 80%;
    height: 2pt;
    margin: 0 auto;
    margin-top: 9pt;
    background-image: linear-gradient(to left, white, rgb(241, 241, 241), rgb(241, 241, 241), white);
}

#site-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

#site-links a{
    display: block;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 400;
    color: var(--gris-uno);
    text-decoration: none;
    margin: 0;
    padding: 1.3em 1em;
}

#site-links a:hover {
    color: white;
    background-color: var(--gris-cero);
    transition: background-color 0.4s;
}

.active{
    font-weight: 600 !important;
    background-color: var(--gris-menosTres);
    text-decoration: underline;
    transition: background-color 0.4s;
}

#social-media-links>a{
    opacity: 26%;
    transition: opacity 0.3s ease-in;
}

#social-media-links>a:hover{
    opacity: 70%;
}


#menu-button-cont {
    z-index: 1;
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    margin-right: 1em;
}

.menu-line {
    display: inline;
    height: 5px;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    margin: 3px 0px;
}

@media screen and (max-width: 1024px) {

    #logo-cont{display: none;}

    #nvbar-2 {
        justify-content: space-around;
    }

    #site-links {display: flex;}
}

@media screen and (max-width: 768px) {
    
    #nvbar-2 {
        position: sticky;
        z-index: 1;
        top: 0;
        justify-content: space-between;
        align-items: last baseline;
        height: 100%;
    }

    #logo-down-bar{
        display: none;
    }

    #logo-cont{
        display: initial;
        width: fit-content;
        margin-left: 1.5em;
    }

    #logo-img{
        height: 2em;
    }

    .active{
        background-color: initial;
    }

    #site-links {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
        display: none;
        overflow-x: hidden;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        padding: 3em 0;
        gap: 0;
        box-shadow: 3px 3px 25px rgba(81, 81, 81, 0.358);
        opacity: 97%;
        transition: all 0.3s;
    }

    #site-links a{
        font-size: 6vw;
        text-align: left;
        padding: 2.3em 1em;
        background-color: white;
    }
    
    #social-media-links {display: none;}

    /* Para el menú hamburguesa */

    #menu-button-cont {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        padding: 1em;
    }

    #menu-button-cont:hover {background-color: white;}
    #menu_button-cont:active {background-color: rgb(205, 205, 205);}
    #menu_button-cont:current {background-color: rgb(205, 205, 205);}
}

@media screen and (min-width: 768px) {
    #site-links {display: flex;}
}