@import url("./App.css");

section{
  margin: 1em auto 12em;
}

.sectionMargins{
  width: 87%;
}

@media screen and (max-width: 800px) {
  section{
    margin: 1em auto 8em;
  }
  .sectionMargins{
    width: 92%;
  }
}

.line{
  height: 5px;
  width: 100%;
  background-color: var(--gris-cero);
  margin: 2rem 0;
}

/* Section 1: A La Une */


#aLaUneHeader {
  text-align: left;
  font-family: "Sofia sans condensed", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 48pt;
  margin-top: 0em;
  margin-bottom: 0.05em;
  line-height: 1.0;
}

#aLaUneIFrame {
  width: 100%;
  height: 720px;
}


/* Section 2: Bref description */


#briefDescription {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#logoOnBriefDescription {
  width: 30vw;
  height: fit-content;
}

.anim-entering-left{
  animation-name: entering-left;
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.anim-entering-right{
  animation-name: entering-right;
  animation-duration: 1.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.anim-blinking{
  animation-name: blinking;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes entering-left {
  from {transform: translateX(-1000px);}
  to {transform: translateX(0px);}
}

@keyframes entering-right {
  from {transform: translateX(1000px);}
  to {transform: translateX(0px);}
}

@keyframes blinking {
  0% {opacity: 50%;}
  50% {opacity: 100%;}
  100% {opacity: 50%;}
}

#paragraphDescription {
  width: calc(87vw - 30vw - 7vw);
  font-weight: 400;
  font-size: 1.5em;
}

#brief-lirePlus{
  width: 100vw;
  font-size: 22pt;
  font-weight: 600;
  text-align: end;
  border-top: 5pt dotted var(--gris-menosUno);
  margin-top: 4rem;
  padding-top: 1rem;
}

#brief-lirePlus>a{
  color: var(--gris-menosUno);
  text-decoration: none;
}

#brief-lirePlus>a:hover{
  color: var(--gris-cero);
}


@media screen and (max-width: 1280px) {
  #briefDescription {
    width: 87%;
    flex-flow: column;
  }
  #briefDescription>p {
    width: 100%;
  }
  #logoOnBriefDescription {
    width: 100%;
    margin-bottom: 2em;
  }


}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}


/* Section 3: Nos films */


#nosFilmsSection{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  margin-top: 2em;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: transparent; /* Establece el fondo inicial como transparente */
  border: 1pt solid transparent; /* Establece el borde inicial como transparente */
  transition: background-color 0.3s, border 0.3s;
}

#voirPlus {
  text-align: right;
  font-size: 20pt;
  font-weight: 600;
  padding: 0;
  margin-right: 1em;
  padding-bottom: 0.4em;
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: var(--gris-cero);
  border-top: 5pt dotted var(--gris-menosUno);
  margin-top: 1.2rem;
  padding-top: 1rem;
}

#voirPlus a{
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
}

#voirPlus a:visited{
  color: var(--gris-menosUno);
}
#voirPlus a:hover{
  color: var(--gris-cero);
}


.movieCard {
  position: relative;
  box-sizing: border-box;
  
  width: calc(100% / 6);
  min-height: calc((100% / 6) * 1.5);
  
  border-radius: 4px;
  margin: .6vw;
  overflow: hidden;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.moviePosterImg {
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1080px) {
  .movieCard {
    width: calc(100% / 4.18);
    min-height: calc((100% / 4.18) * 1.5);
  }
}

@media screen and (max-width: 800px) {
  .movieCard {
    width: calc(100% / 3.3);
    min-height: calc((100% / 3.3) * 1.5)
  }
}


/***** Section 4: Actualités *******/


#actualitesContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.actualitesCard{
  position: relative;
  width: 50%;

  padding-bottom: 20%; /* Establece la relación de aspecto deseada (por ejemplo, 4:3) */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.117);
}

.item{
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 0;
  color: white; /* Color del texto */
  text-shadow: 2px 2px 4px black;
  background-color: black;
  text-align: start;
}

.actualites-title{
  bottom: 0;
  margin: 0;
  padding: 10px 0;
  font-family: "Sofia sans";
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}

.actualites-paragraph{
  font-family: "Sofia sans";
  font-weight: 700;
  color: white;
}

#actualites-lirePlus{
  box-sizing: border-box;
  width: 100%;
  font-size: 22pt;
  font-weight: 600;
  text-align: end;
  border-top: 5pt dotted var(--gris-menosUno);
  margin-top: 1.2rem;
  padding-top: 1rem;
}

#actualites-lirePlus>a{
  color: var(--gris-menosUno);
  text-decoration: none;
}

#actualites-lirePlus>a:hover{
  color: var(--gris-cero);
}



@media screen and (max-width: 800px) {
  #actualitesContainer{
    flex-flow: column nowrap;
    gap: 1em;
  }
  .actualitesCard{
    width: 100%;
    padding-bottom: 50%;
  }
  .actualites-title{
    font-size: 3.5vw;
  }
}


/******* Section 5: Prix et nominations ******/


#prixUnordList{
  list-style-type: none;
}


/******* Section 5: Contactez Nous ******/


#contactezNous{
  width: 60%;
  margin-bottom: 12em;
}

#contactezNous>h2{
  text-align: left;
  text-transform: uppercase;
  line-height: 1.0;
  margin-bottom: 1em;
  font-size: 5em;
  font-weight: 800;
}

#contactezNous>p{
  text-align: right;
  font-size: 2.1em;
  font-weight: 600;
  margin-bottom: 1.3em;
}
#contactezNous a{
  text-decoration: none;
  color: var(--gris-uno);

}

#contactezNous a:hover{
  color: black;
  text-decoration: underline solid black;
}
