@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200;300;400;500;600;700;900;1000&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700;800;900;1000&display=swap);

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sofia sans condensed", "Sofia sans", sans-serif;
}

p {
  font-family: 'Helvetica', Arial, sans-serif;
}

#aLaUne {
  font-weight: 700;
  text-align: center;
  color: rgb(80, 80, 80);
}


/* Elements of the Equipe:BiographyGenerator */


.bioContainer {

  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 8vh; 
  height: 15vw;
}

.bioContainer img {

  width: 15vw;
  height: 15vw;
  margin-right: 3vw;
}

.bioContainer p {

  width: 70vw;
}
