@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200;300;400;500;600;700;900;1000&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700;800;900;1000&display=swap);

:root {
  font-family: 'Helvetica', Arial, sans-serif;
  line-height: 1.2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blanco-cero: rgb(252, 252, 252);
  --gris-menosCuatro: rgb(242, 242, 242);
  --gris-menosTres: rgb(242, 242, 242);
  --gris-menosDos: rgb(231, 231, 231);
  --gris-menosUno: rgb(214, 214, 214);
  --gris-cero: rgb(184, 184, 184);
  --gris-uno:  rgb(125, 125, 125);
  --gris-dos: rgb(95, 95, 95);
  --negro-uno: #111111;
}


* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sofia sans condensed", "Sofia sans", sans-serif;
}

p {
  font-family: 'Helvetica', Arial, sans-serif;
}

.fiftyPercentContainer{
  width: 50%;
  margin: 0 auto;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .fiftyPercentContainer{
    width: 92%;
  }
}

.syllable {
  hyphens: auto;
}